# 4sq

In [73]:
import getpass

import requests
import json
import pandas as pd

fsq3IBz8M5CTm58GImdCWcCYGDNh5OmA6s8Ue4/YPN7SNe8=

## Token

In [76]:
token = getpass.getpass(prompt='Enter your token: ')

Enter your token: ········

## SANTA MONICA

In [183]:
santa_monica = ["34.019858", "-118.492769"]  # LAT / LON

###### category

In [184]:
def query_from_frousquare_category (lon, lat, radius, category, limit):

    url = f"https://api.foursquare.com/v3/places/search?ll={lon}%2C{lat}&radius={radius}&categories={category}&sort=DISTANCE&limit={limit}"
    headers = {
        "accept": "application/json",
        "Authorization": token
    }

    response = requests.get(url, headers=headers)
    
    return response

###### query

In [185]:
def query_from_frousquare (query, lon, lat, radius, limit):
    
    url = f"https://api.foursquare.com/v3/places/search?query={query}&ll={lon}%2C{lat}&radius={radius}&sort=DISTANCE&limit={limit}"

    headers = {
        "accept": "application/json",
        "Authorization": token
    }

    response = requests.get(url, headers=headers)
    
    return response

###### df

In [186]:
def something_near_somewhere (element):
    
    name = element["name"]
    address = element["location"]["formatted_address"]
    lat = element["geocodes"]["main"]["latitude"]
    lon = element["geocodes"]["main"]["longitude"]
    category_id = element["categories"][0]["id"]
    category = element["categories"][0]["name"]

    dict_ = {"name": name, "address":address, "lat": lat, "lon": lon, "category_id" : category_id, "category": category}
    
    return dict_

### Preschool

In [187]:
response = query_from_frousquare_category (santa_monica[0], santa_monica[1], 5000, 12056, 5)
response = response.json()

In [188]:
new_lst_1 = []

for i in response["results"]:
    new_lst_1.append(something_near_somewhere(i))

In [189]:
df1 = pd.DataFrame(new_lst_1)
df1

,name,address,lat,lon,category_id,category
0,Piper Preschool,"807 Arizona Ave (Arizona), Santa Monica, CA 90401",34.021219,-118.492906,12056,Preschool
1,Gan Israel Preschool,"1341 9th St (Santa Monica Blvd), Santa Monica,...",34.020859,-118.490709,11025,Child Care Service
2,10th Street Preschool,"1444 10th St, Santa Monica, CA 90401",34.019880,-118.488781,11025,Child Care Service
3,Knowledge Universe,"1250 4th St, Santa Monica, CA 90401",34.017819,-118.497217,11025,Child Care Service
4,KinderCare Learning Center,"1250 4th St, Santa Monica, CA 90401",34.017751,-118.497215,12056,Preschool

### Elementary school

In [190]:
response = query_from_frousquare_category (santa_monica[0], santa_monica[1], 5000,12057 , 5)
response = response.json()

In [191]:
new_lst_2 = []

for i in response["results"]:
    new_lst_2.append(something_near_somewhere(i))

In [192]:
df2 = pd.DataFrame(new_lst_2)
df2

,name,address,lat,lon,category_id,category
0,Sycamore Community School,"1229 4th St, Santa Monica, CA 90401",34.018463,-118.497159,12058,Elementary School
1,Watts Kenneth PhD Educational Therapy,"1535 6th St, Santa Monica, CA 90401",34.015931,-118.490466,12058,Elementary School
2,Ps#1,"1447 12th St, Santa Monica, CA 90401",34.021733,-118.486134,12058,Elementary School
3,St Monica Catholic High School,"1030 Lincoln Blvd, Santa Monica, CA 90403",34.024076,-118.497134,12059,High School
4,P S # 1 Elementary School,"1454 Euclid St, Santa Monica, CA 90404",34.021992,-118.485503,12058,Elementary School

### High school

In [193]:
response = query_from_frousquare_category (santa_monica[0], santa_monica[1], 10000,12059 , 5)
response = response.json()

In [194]:
new_lst_3 = []

for i in response["results"]:
    new_lst_3.append(something_near_somewhere(i))

In [195]:
df3 = pd.DataFrame(new_lst_3)
df3

,name,address,lat,lon,category_id,category
0,St Monica Catholic High School,"1030 Lincoln Blvd, Santa Monica, CA 90403",34.024076,-118.497134,12059,High School
1,Santa Monica High School,"601 Pico Blvd (6th St), Santa Monica, CA 90405",34.011357,-118.485073,12059,High School
2,Pacifica Christian High School,"1730 Wilshire Blvd, Santa Monica, CA 90403",34.029315,-118.484947,12059,High School
3,Olympic High School,"2425 16th St, Santa Monica, CA 90405",34.013482,-118.469148,12059,High School
4,Writers Boot Camp,"2519 Michigan Ave (26th St), Santa Monica, CA ...",34.027339,-118.468371,12059,High School

### Playground park

In [196]:
response = query_from_frousquare_category (santa_monica[0], santa_monica[1], 10000,16037 , 5)
response = response.json()

In [197]:
new_lst_4 = []

for i in response["results"]:
    new_lst_4.append(something_near_somewhere(i))

In [198]:
df4 = pd.DataFrame(new_lst_4)
df4

,name,address,lat,lon,category_id,category
0,Christine Emerson Reed Park,"1133 7th St (Wilshire), Santa Monica, CA 90403",34.022604,-118.495761,16036,Picnic Area
1,Playground Reed Park,"Santa Monica, CA 90403",34.022386,-118.496181,16037,Playground
2,Samo's Clubhouse,"395 Santa Monica Blvd, Los Angeles, CA 90401",34.013330,-118.494157,16037,Playground
3,Euclid Park,"1525 Euclid St (Broadway), Santa Monica, CA 90404",34.021700,-118.484225,16037,Playground
4,Swings At Santa Monica,"1500 Ocean Ave, Santa Monica, CA 90401",34.012469,-118.495552,16037,Playground

### Airports

In [199]:
response = query_from_frousquare_category (santa_monica[0], santa_monica[1], 15000, 19040 , 10)
response = response.json()

In [200]:
new_lst_5 = []

for i in response["results"]:
    new_lst_5.append(something_near_somewhere(i))

In [201]:
df5 = pd.DataFrame(new_lst_5)
df5

,name,address,lat,lon,category_id,category
0,Los Angeles International Airport (LAX),"1 World Way, Los Angeles, CA 90045",33.944697,-118.398107,19040,International Airport

### Train stations

In [202]:
response = query_from_frousquare_category (santa_monica[0], santa_monica[1], 15000, 19047 , 5)
response = response.json()

In [203]:
new_lst_6 = []

for i in response["results"]:
    new_lst_6.append(something_near_somewhere(i))

In [204]:
df6 = pd.DataFrame(new_lst_6)
df6

,name,address,lat,lon,category_id,category
0,Metro - Downtown Santa Monica Station,"401 Colorado Ave (at 4th St), Santa Monica, CA...",34.013832,-118.491482,19047,Rail Station
1,17th Street / SMC Station,"1610 Colorado Ave, Santa Monica, CA 90404",34.023167,-118.480087,19047,Rail Station
2,26th Street/Bergamot,"Olympic Boulevard, Los Angeles, CA 90404",34.027953,-118.469161,19047,Rail Station
3,Metro Expo Facility,"Santa Monica, CA 90404",34.029282,-118.462262,19047,Rail Station
4,Robert Sasan,"11950 Idaho Ave, Los Angeles, CA 90025",34.039305,-118.459922,19047,Rail Station

### Vegan restaurants

In [205]:
response = query_from_frousquare ("vegan", santa_monica[0], santa_monica[1], 10000, 10)
response = response.json()

In [206]:
new_lst_8 = []

for i in response["results"]:
    new_lst_8.append(something_near_somewhere(i))

In [207]:
df8 = pd.DataFrame(new_lst_8)
df8

,name,address,lat,lon,category_id,category
0,Sweetfin Poké,"829 Broadway (at Lincoln Ct), Santa Monica, CA...",34.018810,-118.489395,13065,Restaurant
1,Superfood Cafe,"530 Wilshire Blvd (at 6th St.), Santa Monica, ...",34.020219,-118.496277,13377,Vegan and Vegetarian Restaurant
2,The Hive,"606 Broadway (6th), Santa Monica, CA 90401",34.016748,-118.491260,13000,Dining and Drinking
3,Sweetgreen,"1343 4th St, Santa Monica, CA 90401",34.017037,-118.495434,13065,Restaurant
4,Huckleberry,"1014 Wilshire Blvd (at 10th Ct), Santa Monica,...",34.023849,-118.492183,13002,Bakery
5,The Misfit Bar & Restaurant,"225 Santa Monica Blvd (at 2nd St), Santa Monic...",34.015578,-118.496534,13065,Restaurant
6,Tender Greens,"201 Arizona Ave (at 2nd St), Santa Monica, CA ...",34.016520,-118.498532,13068,American Restaurant
7,Simply Salad,"1401 2nd St, Santa Monica, CA 90401",34.014892,-118.496803,13145,Fast Food Restaurant
8,Flower Child,"1332 2nd St, Santa Monica, CA 90401",34.015288,-118.498012,13068,American Restaurant
9,800 Degrees Woodfired Kitchen,"120 Wilshire Blvd, Santa Monica, CA 90401",34.017270,-118.500243,13064,Pizzeria

### Pubs

In [208]:
response = query_from_frousquare_category (santa_monica[0], santa_monica[1], 5000, 13018 , 5)
response = response.json()

In [209]:
new_lst_9 = []

for i in response["results"]:
    new_lst_9.append(something_near_somewhere(i))

In [210]:
df9 = pd.DataFrame(new_lst_9)
df9

,name,address,lat,lon,category_id,category
0,Santa Monica Beer Scavenger Hunt,"3RD St (Santa Monica), Santa Monica, CA 90401",34.011132,-118.488530,13018,Pub
1,Jameson's Pub,"2702 Main St (at Hill St), Santa Monica, CA 90405",34.000724,-118.482664,13017,Piano Bar
2,Sonny McLean's,"2615 Wilshire Blvd, Santa Monica, CA 90403",34.036589,-118.477253,13018,Pub
3,Eat Berlins,"1425 Ocean Front Walk, Venice, CA 90291",33.987740,-118.474133,13018,Pub

### Night club

In [211]:
response = query_from_frousquare_category (santa_monica[0], santa_monica[1], 15000, 10032 , 5)
response = response.json()

In [212]:
new_lst_10 = []

for i in response["results"]:
    new_lst_10.append(something_near_somewhere(i))

In [213]:
df10 = pd.DataFrame(new_lst_10)
df10

,name,address,lat,lon,category_id,category
0,Harvelles Blues Club,1432 4th St (btw Santa Monica Blvd & Broadway)...,34.015618,-118.494486,10032,Night Club
1,German American Club,"1843 Lincoln Blvd, Santa Monica, CA 90404",34.013206,-118.483486,10032,Night Club
2,Senator Jones,"2020 Wilshire Blvd (btwn 20th & 21st St), Sant...",34.031641,-118.482310,10032,Night Club
3,Zugell Zumba,"2523 17th St, Santa Monica, CA 90405",34.013111,-118.467233,10032,Night Club
4,Busby's West,"3110 Santa Monica Blvd (at Berkeley Ave.), San...",34.037184,-118.469137,10032,Night Club

### Pet Grooming Service

In [214]:
response = query_from_frousquare_category (santa_monica[0], santa_monica[1], 5000, 11134 , 5)
response = response.json()

In [215]:
new_lst_11 = []

for i in response["results"]:
    new_lst_11.append(something_near_somewhere(i))

In [216]:
df11 = pd.DataFrame(new_lst_11)
df11

,name,address,lat,lon,category_id,category
0,Healthy Spot,"1110 Wilshire Blvd (at 11th St), Santa Monica,...",34.024581,-118.491231,11134,Pet Grooming Service
1,Moon Doggy's Dog Wash,"1838 Lincoln Blvd, Santa Monica, CA 90404",34.012915,-118.484045,11134,Pet Grooming Service
2,To Wag For,"1123 Montana Ave (10th), Santa Monica, CA 90403",34.030589,-118.497481,11134,Pet Grooming Service
3,The Wagging Tail,"1123 Montana Ave, Santa Monica, CA 90403",34.030553,-118.497551,11134,Pet Grooming Service
4,Yo Dawg Groom Spot,"1844 14th St (Pico Blvd.), Santa Monica, CA 90404",34.017209,-118.478410,11134,Pet Grooming Service

### Dog parks

In [217]:
response = query_from_frousquare_category (santa_monica[0], santa_monica[1], 5000, 16033 , 5)
response = response.json()

In [218]:
new_lst_12 = []

for i in response["results"]:
    new_lst_12.append(something_near_somewhere(i))

In [219]:
df12 = pd.DataFrame(new_lst_12)
df12

,name,address,lat,lon,category_id,category
0,"DOG PPL - Dog Park, Bar, Cafe & Lounge","Santa Monica, CA 90401",34.017297,-118.494804,16033,Dog Park
1,Beneful's Virtual Dog Park Storescape,"395 Santa Monica Pl (in Santa Monica Place), S...",34.013704,-118.494094,16033,Dog Park
2,Dog Town,"Santa Monica, CA 90401",34.011070,-118.494958,16033,Dog Park
3,Memorial Park Dog Run,"1621 14th St (at Colorado Ave.), Santa Monica,...",34.021248,-118.481728,16033,Dog Park
4,Secret Dog Park,"Stanley, Santa Monica, CA 90404",34.032122,-118.468893,16033,Dog Park

### Starbucks

In [220]:
response = query_from_frousquare ("starbucks", santa_monica[0], santa_monica[1], 5000, 5)
response = response.json()

In [221]:
new_lst_13 = []

for i in response["results"]:
    new_lst_13.append(something_near_somewhere(i))

In [222]:
df13 = pd.DataFrame(new_lst_13)
df13

,name,address,lat,lon,category_id,category
0,Starbucks,"710 Broadway, Santa Monica, CA 90401",34.017199,-118.489997,13035,Coffee Shop
1,Starbucks,"1030 Wilshire Blvd (11th), Santa Monica, CA 90401",34.024139,-118.491624,13035,Coffee Shop
2,Starbucks,"1356 3rd Street Promenade, Santa Monica, CA 90401",34.015744,-118.496609,13035,Coffee Shop
3,Starbucks,"1311 Wilshire Blvd, Santa Monica, CA 90403",34.026503,-118.489836,13035,Coffee Shop
4,Starbucks,"1705 Ocean Ave (Civic Center Dr.), Santa Monic...",34.010651,-118.491558,13035,Coffee Shop

### Basketball

In [223]:
response = query_from_frousquare_category (santa_monica[0], santa_monica[1], 10000, 18006 , 5)
response = response.json()

In [224]:
new_lst_14 = []

for i in response["results"]:
    new_lst_14.append(something_near_somewhere(i))

In [225]:
df14 = pd.DataFrame(new_lst_14)
df14

,name,address,lat,lon,category_id,category
0,Memorial Park Basketball Courts,"1401 Olympic Blvd (14th and Olympic), Santa Mo...",34.019934,-118.480656,18008,Basketball Court
1,Basketball Courts,"1406 Marine St (at 16th St.), Santa Monica, CA...",34.006221,-118.465114,18008,Basketball Court
2,Venice Beach Basketball Courts,"1800 Ocean Front Walk (at 18th Pl), Venice, CA...",33.986028,-118.472826,18008,Basketball Court
3,Mar Vista Courts,"11430 Woodbine St, Los Angeles, CA 90066",34.017965,-118.428676,18008,Basketball Court
4,Saxon Courts,"250 De Neve Dr, Los Angeles, CA 90024",34.071410,-118.452657,18008,Basketball Court

### Design

In [226]:
response = query_from_frousquare_category (santa_monica[0], santa_monica[1], 15000, 11030 , 5)
response = response.json()

In [227]:
new_lst_15 = []

for i in response["results"]:
    new_lst_15.append(something_near_somewhere(i))

In [228]:
df15 = pd.DataFrame(new_lst_15)
df15

,name,address,lat,lon,category_id,category
0,SLS Ad Co.,1453 3rd Street Promenade (btwn Broadway & San...,34.014770,-118.494540,11030,Design Studio
1,First Contact Entertainment,"1333 2nd St, Santa Monica, CA 90401",34.015714,-118.497456,11030,Design Studio
2,Thought Merchants,"216 Pico Blvd (Main Street), Santa Monica, CA ...",34.008138,-118.489033,11030,Design Studio
3,Active Theory,"615 Hampton Dr (Sunset Blvd), Venice, CA 90291",33.994390,-118.475399,11030,Design Studio
4,Photowow,"11950 Wilshire Blvd (Brockton), Los Angeles, C...",34.045646,-118.465069,11030,Design Studio

# CONCATENATE

In [229]:
df_santa_monica = pd.concat([df1, 
                              df2, 
                              df3, 
                              df4, 
                              df5, 
                              df6, 
                              df7, 
                              df9, 
                              df10, 
                              df11, 
                              df12, 
                              df13, 
                              df14, 
                              df15])

In [230]:
df_santa_monica = df_santa_monica.reset_index(drop=True)

In [231]:
df_santa_monica

,name,address,lat,lon,category_id,category
0,Piper Preschool,"807 Arizona Ave (Arizona), Santa Monica, CA 90401",34.021219,-118.492906,12056,Preschool
1,Gan Israel Preschool,"1341 9th St (Santa Monica Blvd), Santa Monica,...",34.020859,-118.490709,11025,Child Care Service
2,10th Street Preschool,"1444 10th St, Santa Monica, CA 90401",34.019880,-118.488781,11025,Child Care Service
3,Knowledge Universe,"1250 4th St, Santa Monica, CA 90401",34.017819,-118.497217,11025,Child Care Service
4,KinderCare Learning Center,"1250 4th St, Santa Monica, CA 90401",34.017751,-118.497215,12056,Preschool
...,...,...,...,...,...,...
65,SLS Ad Co.,1453 3rd Street Promenade (btwn Broadway & San...,34.014770,-118.494540,11030,Design Studio
66,First Contact Entertainment,"1333 2nd St, Santa Monica, CA 90401",34.015714,-118.497456,11030,Design Studio
67,Thought Merchants,"216 Pico Blvd (Main Street), Santa Monica, CA ...",34.008138,-118.489033,11030,Design Studio
68,Active Theory,"615 Hampton Dr (Sunset Blvd), Venice, CA 90291",33.994390,-118.475399,11030,Design Studio
69,Photowow,"11950 Wilshire Blvd (Brockton), Los Angeles, C...",34.045646,-118.465069,11030,Design Studio

# SAVE DF

In [233]:
#df_santa_monica.to_csv("../data/santa_monica.csv", index=False)