# 4sq

In [8]:
import getpass

import requests
import json
import pandas as pd

fsq3IBz8M5CTm58GImdCWcCYGDNh5OmA6s8Ue4/YPN7SNe8=

## Token

In [9]:
token = getpass.getpass(prompt='Enter your token: ')

Enter your token: ········

## SANTA MONICA

In [10]:
santa_monica = ["34.02323", "-118.48309"]  # LAT / LON

###### category

In [11]:
def query_from_frousquare_category (lon, lat, radius, category, limit):

    url = f"https://api.foursquare.com/v3/places/search?ll={lon}%2C{lat}&radius={radius}&categories={category}&sort=DISTANCE&limit={limit}"
    headers = {
        "accept": "application/json",
        "Authorization": token
    }

    response = requests.get(url, headers=headers)
    
    return response

###### query

In [12]:
def query_from_frousquare (query, lon, lat, radius, limit):
    
    url = f"https://api.foursquare.com/v3/places/search?query={query}&ll={lon}%2C{lat}&radius={radius}&sort=DISTANCE&limit={limit}"

    headers = {
        "accept": "application/json",
        "Authorization": token
    }

    response = requests.get(url, headers=headers)
    
    return response

###### df

In [13]:
def something_near_somewhere (element):
    
    name = element["name"]
    address = element["location"]["formatted_address"]
    lat = element["geocodes"]["main"]["latitude"]
    lon = element["geocodes"]["main"]["longitude"]
    category_id = element["categories"][0]["id"]
    category = element["categories"][0]["name"]

    dict_ = {"name": name, "address":address, "lat": lat, "lon": lon, "category_id" : category_id, "category": category}
    
    return dict_

### Preschool

In [14]:
response = query_from_frousquare_category (santa_monica[0], santa_monica[1], 5000, 12056, 5)
response = response.json()

In [15]:
new_lst_1 = []

for i in response["results"]:
    new_lst_1.append(something_near_somewhere(i))

In [16]:
df1 = pd.DataFrame(new_lst_1)
df1

,name,address,lat,lon,category_id,category
0,Sunflower,"1514 12th St, Santa Monica, CA 90401",34.020766,-118.485761,12056,Preschool
1,10th Street Preschool,"1444 10th St, Santa Monica, CA 90401",34.019880,-118.488781,11025,Child Care Service
2,Lighthouse Preschool,"1511 20th St, Santa Monica, CA 90404",34.027235,-118.477909,12056,Preschool
3,Maple Tree Academy,"1814 14th St (Michigan Avenue), Santa Monica, ...",34.017900,-118.478919,12056,Preschool
4,Pilgrim Lutheran Preschool,"1730 Wilshire Blvd, Santa Monica, CA 90403",34.029279,-118.485017,12056,Preschool

### Elementary school

In [17]:
response = query_from_frousquare_category (santa_monica[0], santa_monica[1], 5000,12057 , 5)
response = response.json()

In [18]:
new_lst_2 = []

for i in response["results"]:
    new_lst_2.append(something_near_somewhere(i))

In [19]:
df2 = pd.DataFrame(new_lst_2)
df2

,name,address,lat,lon,category_id,category
0,P S # 1 Elementary School,"1454 Euclid St, Santa Monica, CA 90404",34.021992,-118.485503,12058,Elementary School
1,Ps#1,"1447 12th St, Santa Monica, CA 90401",34.021733,-118.486134,12058,Elementary School
2,Pacifica Christian High School,"1730 Wilshire Blvd, Santa Monica, CA 90403",34.029315,-118.484947,12059,High School
3,Lighthouse Church School,"1220 20th St, Santa Monica, CA 90404",34.030680,-118.482714,12058,Elementary School
4,Concord High School,"1831 Wilshire Blvd (at 19th St), Santa Monica,...",34.030718,-118.484481,12058,Elementary School

### High school

In [20]:
response = query_from_frousquare_category (santa_monica[0], santa_monica[1], 10000,12059 , 5)
response = response.json()

In [21]:
new_lst_3 = []

for i in response["results"]:
    new_lst_3.append(something_near_somewhere(i))

In [22]:
df3 = pd.DataFrame(new_lst_3)
df3

,name,address,lat,lon,category_id,category
0,Pacifica Christian High School,"1730 Wilshire Blvd, Santa Monica, CA 90403",34.029315,-118.484947,12059,High School
1,Santa Monica High School,"601 Pico Blvd (6th St), Santa Monica, CA 90405",34.011357,-118.485073,12059,High School
2,Writers Boot Camp,"2519 Michigan Ave (26th St), Santa Monica, CA ...",34.027339,-118.468371,12059,High School
3,St Monica Catholic High School,"1030 Lincoln Blvd, Santa Monica, CA 90403",34.024076,-118.497134,12059,High School
4,Olympic High School,"2425 16th St, Santa Monica, CA 90405",34.013482,-118.469148,12059,High School

### Playground park

In [23]:
response = query_from_frousquare_category (santa_monica[0], santa_monica[1], 10000,16037 , 5)
response = response.json()

In [24]:
new_lst_4 = []

for i in response["results"]:
    new_lst_4.append(something_near_somewhere(i))

In [25]:
df4 = pd.DataFrame(new_lst_4)
df4

,name,address,lat,lon,category_id,category
0,Euclid Park,"1525 Euclid St (Broadway), Santa Monica, CA 90404",34.021700,-118.484225,16037,Playground
1,Memorial Park,"1401 Olympic Blvd, Santa Monica, CA 90404",34.019971,-118.480586,16037,Playground
2,Christine Emerson Reed Park,"1133 7th St (Wilshire), Santa Monica, CA 90403",34.022604,-118.495761,16036,Picnic Area
3,Playground Reed Park,"Santa Monica, CA 90403",34.022386,-118.496181,16037,Playground
4,Virginia Avenue Park,"2200 Virginia Ave (at Cloverfield Blvd), Santa...",34.022287,-118.468762,16036,Picnic Area

### Airports

In [26]:
response = query_from_frousquare_category (santa_monica[0], santa_monica[1], 15000, 19031 , 10)
response = response.json()

In [27]:
new_lst_5 = []

for i in response["results"]:
    new_lst_5.append(something_near_somewhere(i))

In [28]:
df5 = pd.DataFrame(new_lst_5)
df5

,name,address,lat,lon,category_id,category
0,"Atlantic Aviation, Santa Monica Municipal Airport","2828 Donald Douglas Loop N, Santa Monica, CA 9...",34.016661,-118.453031,19031,Airport
1,Santa Monica Airport (SMO),"3223 Donald Douglas Loop S, Santa Monica, CA 9...",34.017569,-118.447467,19031,Airport
2,Spaceport Malaysia,"3153 Purdue Ave, Los Angeles, CA 90066",34.023131,-118.431748,19031,Airport
3,Rio Limo and Sedan Service,"12405 Venice Blvd, Los Angeles, CA 90066",34.003707,-118.434043,19036,Airport Service
4,Continental Airlines,"9872 Wilshire Blvd, Beverly Hills, CA 90210",34.066325,-118.413101,19036,Airport Service
5,JetOptions Private Jets,"9465 Wilshire Blvd, Beverly Hills, CA 90212",34.067267,-118.399826,19036,Airport Service
6,Fedex Maintenance Hangar,"7401 World Way W, Los Angeles, CA 90045",33.943592,-118.423795,19036,Airport Service
7,Attitude Aviation,"8032 Bleriot Ave, Los Angeles, CA 90045",33.965233,-118.391306,19036,Airport Service
8,Runway 06R - 24L,"LAX Airport, Los Angeles, CA 90045",33.949440,-118.409503,19036,Airport Service
9,Sav-On Shuttle,"8800 S Sepulveda Blvd, Los Angeles, CA 90045",33.957024,-118.395807,19036,Airport Service

### Train stations

In [29]:
response = query_from_frousquare_category (santa_monica[0], santa_monica[1], 15000, 19047 , 5)
response = response.json()

In [30]:
new_lst_6 = []

for i in response["results"]:
    new_lst_6.append(something_near_somewhere(i))

In [31]:
df6 = pd.DataFrame(new_lst_6)
df6

,name,address,lat,lon,category_id,category
0,17th Street / SMC Station,"1610 Colorado Ave, Santa Monica, CA 90404",34.023167,-118.480087,19047,Rail Station
1,Metro - Downtown Santa Monica Station,"401 Colorado Ave (at 4th St), Santa Monica, CA...",34.013832,-118.491482,19047,Rail Station
2,26th Street/Bergamot,"Olympic Boulevard, Los Angeles, CA 90404",34.027953,-118.469161,19047,Rail Station
3,Metro Expo Facility,"Santa Monica, CA 90404",34.029282,-118.462262,19047,Rail Station
4,Robert Sasan,"11950 Idaho Ave, Los Angeles, CA 90025",34.039305,-118.459922,19047,Rail Station

### Vegan restaurants

In [32]:
response = query_from_frousquare_category (santa_monica[0], santa_monica[1], 10000, 13377 , 5)
response = response.json()

In [33]:
new_lst_7 = []

for i in response["results"]:
    new_lst_7.append(something_near_somewhere(i))

In [34]:
df7 = pd.DataFrame(new_lst_7)
df7

,name,address,lat,lon,category_id,category
0,Veggie Grill,"2025 Wilshire Blvd (at 21st St), Santa Monica,...",34.031995,-118.482812,13377,Vegan and Vegetarian Restaurant
1,Superfood Cafe,"530 Wilshire Blvd (at 6th St.), Santa Monica, ...",34.020219,-118.496277,13377,Vegan and Vegetarian Restaurant
2,Sweetgreen,"1343 4th St, Santa Monica, CA 90401",34.017037,-118.495434,13065,Restaurant
3,Satdha,"2218 Lincoln Blvd, Santa Monica, CA 90405",34.009736,-118.480306,13352,Thai Restaurant
4,Erin McKenna’s Bakery,"1415 Montana Ave, Santa Monica, CA 90403",34.032604,-118.495049,13002,Bakery

### More vegan restaurants

In [35]:
response = query_from_frousquare ("vegan", santa_monica[0], santa_monica[1], 10000, 5)
response = response.json()

In [36]:
new_lst_8 = []

for i in response["results"]:
    new_lst_8.append(something_near_somewhere(i))

In [37]:
df8 = pd.DataFrame(new_lst_8)
df8

,name,address,lat,lon,category_id,category
0,Sweetfin Poké,"829 Broadway (at Lincoln Ct), Santa Monica, CA...",34.018810,-118.489395,13065,Restaurant
1,Huckleberry,"1014 Wilshire Blvd (at 10th Ct), Santa Monica,...",34.023849,-118.492183,13002,Bakery
2,Veggie Grill,"2025 Wilshire Blvd (at 21st St), Santa Monica,...",34.031995,-118.482812,13377,Vegan and Vegetarian Restaurant
3,Thai Vegan II,"2315 Santa Monica Blvd, Santa Monica, CA 90404",34.031039,-118.477421,13377,Vegan and Vegetarian Restaurant
4,The Hive,"606 Broadway (6th), Santa Monica, CA 90401",34.016748,-118.491260,13000,Dining and Drinking

### Pubs

In [38]:
response = query_from_frousquare_category (santa_monica[0], santa_monica[1], 5000, 13018 , 5)
response = response.json()

In [39]:
new_lst_9 = []

for i in response["results"]:
    new_lst_9.append(something_near_somewhere(i))

In [40]:
df9 = pd.DataFrame(new_lst_9)
df9

,name,address,lat,lon,category_id,category
0,Santa Monica Beer Scavenger Hunt,"3RD St (Santa Monica), Santa Monica, CA 90401",34.011132,-118.488530,13018,Pub
1,Sonny McLean's,"2615 Wilshire Blvd, Santa Monica, CA 90403",34.036589,-118.477253,13018,Pub
2,Jameson's Pub,"2702 Main St (at Hill St), Santa Monica, CA 90405",34.000724,-118.482664,13017,Piano Bar
3,Eat Berlins,"1425 Ocean Front Walk, Venice, CA 90291",33.987740,-118.474133,13018,Pub

### Night club

In [41]:
response = query_from_frousquare_category (santa_monica[0], santa_monica[1], 15000, 10032 , 5)
response = response.json()

In [42]:
new_lst_10 = []

for i in response["results"]:
    new_lst_10.append(something_near_somewhere(i))

In [43]:
df10 = pd.DataFrame(new_lst_10)
df10

,name,address,lat,lon,category_id,category
0,Senator Jones,"2020 Wilshire Blvd (btwn 20th & 21st St), Sant...",34.031641,-118.482310,10032,Night Club
1,Harvelles Blues Club,1432 4th St (btw Santa Monica Blvd & Broadway)...,34.015618,-118.494486,10032,Night Club
2,Busby's West,"3110 Santa Monica Blvd (at Berkeley Ave.), San...",34.037184,-118.469137,10032,Night Club
3,Plan B,"11637 W Pico Blvd (S. Barrington Ave.), Los An...",34.032343,-118.444656,10032,Night Club
4,Blen Blen,"1618 Cotner Ave (Santa Monica), West Los Angel...",34.047834,-118.446383,10032,Night Club

### Pet Grooming Service

In [44]:
response = query_from_frousquare_category (santa_monica[0], santa_monica[1], 5000, 11134 , 5)
response = response.json()

In [45]:
new_lst_11 = []

for i in response["results"]:
    new_lst_11.append(something_near_somewhere(i))

In [46]:
df11 = pd.DataFrame(new_lst_11)
df11

,name,address,lat,lon,category_id,category
0,Healthy Spot,"1110 Wilshire Blvd (at 11th St), Santa Monica,...",34.024581,-118.491231,11134,Pet Grooming Service
1,Yo Dawg Groom Spot,"1820 Wilshire Blvd, Santa Monica, CA 90403",34.030089,-118.484115,11134,Pet Grooming Service
2,Yo Dawg Groom Spot,"1844 14th St (Pico Blvd.), Santa Monica, CA 90404",34.017209,-118.478410,11134,Pet Grooming Service
3,Fitdog Sports Club,"1712 21st St (Olympic & 21st), Santa Monica, C...",34.024606,-118.473898,11134,Pet Grooming Service
4,Moon Doggy's Dog Wash,"1838 Lincoln Blvd, Santa Monica, CA 90404",34.012915,-118.484045,11134,Pet Grooming Service

### Dog parks

In [47]:
response = query_from_frousquare_category (santa_monica[0], santa_monica[1], 5000, 16033 , 5)
response = response.json()

In [48]:
new_lst_12 = []

for i in response["results"]:
    new_lst_12.append(something_near_somewhere(i))

In [49]:
df12 = pd.DataFrame(new_lst_12)
df12

,name,address,lat,lon,category_id,category
0,Memorial Park Dog Run,"1621 14th St (at Colorado Ave.), Santa Monica,...",34.021248,-118.481728,16033,Dog Park
1,"DOG PPL - Dog Park, Bar, Cafe & Lounge","Santa Monica, CA 90401",34.017297,-118.494804,16033,Dog Park
2,Beneful's Virtual Dog Park Storescape,"395 Santa Monica Pl (in Santa Monica Place), S...",34.013704,-118.494094,16033,Dog Park
3,Secret Dog Park,"Stanley, Santa Monica, CA 90404",34.032122,-118.468893,16033,Dog Park
4,Dog Town,"Santa Monica, CA 90401",34.011070,-118.494958,16033,Dog Park

### Starbucks

In [50]:
response = query_from_frousquare ("starbucks", santa_monica[0], santa_monica[1], 5000, 5)
response = response.json()

In [51]:
new_lst_13 = []

for i in response["results"]:
    new_lst_13.append(something_near_somewhere(i))

In [52]:
df13 = pd.DataFrame(new_lst_13)
df13

,name,address,lat,lon,category_id,category
0,Starbucks,"1311 Wilshire Blvd, Santa Monica, CA 90403",34.026503,-118.489836,13035,Coffee Shop
1,Starbucks,"1030 Wilshire Blvd (11th), Santa Monica, CA 90401",34.024139,-118.491624,13035,Coffee Shop
2,Starbucks,"710 Broadway, Santa Monica, CA 90401",34.017199,-118.489997,13035,Coffee Shop
3,Starbucks,"2200 Colorado Ave, Santa Monica, CA 90404",34.027309,-118.474872,13035,Coffee Shop
4,Starbucks,"1644 Cloverfield Blvd, Santa Monica, CA 90404",34.027184,-118.473668,13035,Coffee Shop

### Basketball

In [53]:
response = query_from_frousquare_category (santa_monica[0], santa_monica[1], 10000, 18006 , 5)
response = response.json()

In [54]:
new_lst_14 = []

for i in response["results"]:
    new_lst_14.append(something_near_somewhere(i))

In [55]:
df14 = pd.DataFrame(new_lst_14)
df14

,name,address,lat,lon,category_id,category
0,Memorial Park Basketball Courts,"1401 Olympic Blvd (14th and Olympic), Santa Mo...",34.019934,-118.480656,18008,Basketball Court
1,Basketball Courts,"1406 Marine St (at 16th St.), Santa Monica, CA...",34.006221,-118.465114,18008,Basketball Court
2,Venice Beach Basketball Courts,"1800 Ocean Front Walk (at 18th Pl), Venice, CA...",33.986028,-118.472826,18008,Basketball Court
3,Mar Vista Courts,"11430 Woodbine St, Los Angeles, CA 90066",34.017965,-118.428676,18008,Basketball Court
4,Saxon Courts,"250 De Neve Dr, Los Angeles, CA 90024",34.071410,-118.452657,18008,Basketball Court

### Design

In [56]:
response = query_from_frousquare_category (santa_monica[0], santa_monica[1], 15000, 11030 , 5)
response = response.json()

In [57]:
new_lst_15 = []

for i in response["results"]:
    new_lst_15.append(something_near_somewhere(i))

In [58]:
df15 = pd.DataFrame(new_lst_15)
df15

,name,address,lat,lon,category_id,category
0,SLS Ad Co.,1453 3rd Street Promenade (btwn Broadway & San...,34.014770,-118.494540,11030,Design Studio
1,First Contact Entertainment,"1333 2nd St, Santa Monica, CA 90401",34.015714,-118.497456,11030,Design Studio
2,Thought Merchants,"216 Pico Blvd (Main Street), Santa Monica, CA ...",34.008138,-118.489033,11030,Design Studio
3,Photowow,"11950 Wilshire Blvd (Brockton), Los Angeles, C...",34.045646,-118.465069,11030,Design Studio
4,Active Theory,"615 Hampton Dr (Sunset Blvd), Venice, CA 90291",33.994390,-118.475399,11030,Design Studio

# CONCATENATE

In [59]:
df_santa_monica = pd.concat([df1, 
                              df2, 
                              df3, 
                              df4, 
                              df5, 
                              df6, 
                              df7, 
                              df8, 
                              df9, 
                              df10, 
                              df11, 
                              df12, 
                              df13, 
                              df14, 
                              df15])

In [60]:
df_santa_monica = df_santa_monica.reset_index(drop=True)

In [61]:
df_santa_monica

,name,address,lat,lon,category_id,category
0,Sunflower,"1514 12th St, Santa Monica, CA 90401",34.020766,-118.485761,12056,Preschool
1,10th Street Preschool,"1444 10th St, Santa Monica, CA 90401",34.019880,-118.488781,11025,Child Care Service
2,Lighthouse Preschool,"1511 20th St, Santa Monica, CA 90404",34.027235,-118.477909,12056,Preschool
3,Maple Tree Academy,"1814 14th St (Michigan Avenue), Santa Monica, ...",34.017900,-118.478919,12056,Preschool
4,Pilgrim Lutheran Preschool,"1730 Wilshire Blvd, Santa Monica, CA 90403",34.029279,-118.485017,12056,Preschool
...,...,...,...,...,...,...
74,SLS Ad Co.,1453 3rd Street Promenade (btwn Broadway & San...,34.014770,-118.494540,11030,Design Studio
75,First Contact Entertainment,"1333 2nd St, Santa Monica, CA 90401",34.015714,-118.497456,11030,Design Studio
76,Thought Merchants,"216 Pico Blvd (Main Street), Santa Monica, CA ...",34.008138,-118.489033,11030,Design Studio
77,Photowow,"11950 Wilshire Blvd (Brockton), Los Angeles, C...",34.045646,-118.465069,11030,Design Studio
78,Active Theory,"615 Hampton Dr (Sunset Blvd), Venice, CA 90291",33.994390,-118.475399,11030,Design Studio

# SAVE DF

In [63]:
#df_santa_monica.to_csv("../data/santa_monica.csv", index=False)